
.map-wrapper {
  //position: relative;
}

.map-title{
  //position: absolute;
  //top: 10px;
  //left: 50px;
  //background: white;
  //border-radius: 5px;
}

.menu-row {
  color: gray;
  margin-top: 40px;
}

.big-icon {
  font-size: 34px;
}

.link-unstyle a:link {
    text-decoration:none;
}



