.map-wrapper {
  //position: relative;
}

.map-title{
  //position: absolute;
  //top: 10px;
  //left: 50px;
  //background: white;
  //border-radius: 5px;
}

.menu-row {
  color: gray;
  margin-top: 30px;
}

.big-icon {
  font-size: 34px;
}

.link-unstyle a:link {
    text-decoration:none;
}

h3 {
  font-size: 20px;
  color: black;
}

h4 {
  font-size: 16px;
  color: black;
}

p {
  font-size: 16px;
  color: black;
}
