
.cards{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-top: 10px;
  border-radius: 10px;
  height: 175px;
}


.card-description p{
  color: #E0E2E6;
}


.card-content{
  color:#41423D;
  // width: 120px;
  position: absolute;
  bottom: 8px;
  right: 10px;
  margin-right: 15px;
  p {
    font-size: 15px;
    color: #FFFFFF;
    text-align: right;
    margin-bottom: 0px;
  }
  
}


.card-location{
  color: #E0E2E6;
  bottom: 24px;
  font-size: 15px;
  display: inline-block;
  margin-left: 5px;
  padding-left: 15px;
  position: absolute;
  bottom: 7px;
  left: 10px;
  margin-bottom: 2px;
}

.dest-menu-items {
  color: #41423D !important;
}


.card-title h4{
  bottom: 30px;
  top: 10px;
  text-align: center;
  padding-top: 10px;
  font-weight: 900;
  text-shadow: 3px 3px 0px #000;
  font-size: 25px;
  color: white;
}


.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}

.card-link:hover {
  opacity: 0.2;
}

.card-text {
  color: #F1F1F1;
}
