
<% @destinations_and_menu_items.each do |hash| %>
    <% hash.each do |destination, menu_items| %>
      <h3><%= destination.name %></h3>
      <ul>
      <%  menu_items.each do |menu_item| %>
        <li><p>
          <%= "#{menu_item.name} | #{menu_item.price.to_i} kroner"  %>
        </p></li>
      <% end %>
      </ul>
      <% end %>
<% end %>    

<% @destinations.each do |destination| %>
<div class="container">
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(' <%= image_path 'gilt.png' %> ');">
      <div class="card-description">
        <h2><%= destination.name %></h2>
      </div>
      <a class="card-link" href="#" ></a>
    </div>
  </div>
</div>
<% end %>



