<div class="container">
  <div class="map-wrapper">
    <div class="map-title">
      <p>Locations of restaurants and bars. Go get what you want!</p>

    </div>
    <div id="map" style="height: 80vh; width: 700px;"></div>
    <div id="stuff" style="height: 10vh; width: 10vw;"></div>
  </div>
</div>

<%= render 'maplink', collection: @markers %>
