<div class="container">
  <div class="map-wrapper">
    <div class="map-title">
      <p>Locations of restaurants and bars. Go get what you want!</p>

    </div>
    <div id="map" style="height: 80vh; width: 700px;"></div>
    <div id="stuff" style="background-color: red; height: 10vh; width: 10vw;"></div>
  </div>
</div>


<% content_for(:after_js) do %>
    <script type="text/javascript">
    //   var handler = Gmaps.build('Google');
    //   var styles = [
    //     {
    //         "featureType": "all",
    //         "stylers": [
    //             {
    //                 "saturation": 0
    //             },
    //             {
    //                 "hue": "#e7ecf0"
    //             }
    //         ]
    //     },
    //     {
    //         "featureType": "road",
    //         "stylers": [
    //             {
    //                 "saturation": -70
    //             }
    //         ]
    //     },
    //     {
    //         "featureType": "transit",
    //         "stylers": [
    //             {
    //                 "visibility": "off"
    //             }
    //         ]
    //     },
    //     {
    //         "featureType": "poi",
    //         "stylers": [
    //             {
    //                 "visibility": "off"
    //             }
    //         ]
    //     },
    //     {
    //         "featureType": "water",
    //         "stylers": [
    //             {
    //                 "visibility": "simplified"
    //             },
    //             {
    //                 "saturation": -60
    //             }
    //         ]
    //     }
    // ];

      function redirect_user_to_address(e) {
        window.open('http://stackoverflow.com', '_blank');
        // console.log(this);
      }

      $(document).ready(function() {
      function initMap() {
        // Display a map on the #map
        var map = new google.maps.Map(document.getElementById('map'), {});
        // Define bounds
        var bounds = new google.maps.LatLngBounds();
        // Multiple markers
        var markers = <%= raw @markers.to_json %>
        for( i = 0; i < markers.length; i++) {
              var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
              bounds.extend(position);
              var marker = new google.maps.Marker({
                position: {lat: markers[i][1], lng: markers[i][2]},
                map: map,
                title: "marker id:" + markers[i][0]
              });
        // Add an event listener to each marker
         google.maps.event.addListener(marker, 'click', (function(marker, i) {
             return function() {
                 redirect_user_to_address();
             }
         })(marker, i));
        // Center the map fitting all displayed markers
        map.fitBounds(bounds);
        }
      }
      initMap();
      });
      
    </script>
<% end %>





















<!--   <p>Locations of restaurants and bars. Go get what you want!</p>
    <div id="map" style= "height: 80vh; width: 700px;"></div>
  <%= render 'snazzymap' %>
</div> -->
