<div class="container">
    <div id="banner">
      <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('<%= cl_image_path @destination.photo.path, width: 300, crop: :fill %> ');">
        <div class="banner-content">

          <h1><%= @destination.name %></h1>

<!--           <ul>
            <a class='btn btn-primary btn-category' href='#' >Music</a>
            <a class='btn btn-primary btn-category' href='#' >Coding</a>
            <a class='btn btn-primary btn-category' href='#' >School</a>
            <a class='btn btn-primary btn-category' href='#' >Craft</a>
            <a class='btn btn-primary btn-category' href='#' >Arts</a>
          </ul>
 -->        </div>
      </div>
    </div>
  </div>
</body>
</html>
