<div class="banner hidden-xs hidden-sm" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('https://images.unsplash.com/photo-1477763858572-cda7deaa9bc5?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=7e90587eaf005cf6358d42c03970d4fe');">
  <div class="banner-content">
    <h1><%= @destination.name %></h1>
    <p>Get what you want <i class="fa fa-circle" aria-hidden="true"></i></p>
  </div>
</div>

