<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fa fa-github"></i></a>
    <a href="mailto:contact@100-crowns.eu"><i class="fa fa-envelope"></i></a>
    <a href="#"><i class="fa fa-facebook"></i></a>
  </div>
  <div class="footer-copyright">
    Get what you want <i class="fa fa-circle"></i>
  </div>
</div>

